<section>
    <form class="container">
        <p>Ajouter un.e absent.e</p>
        <select name="apprenants" id="apprenants" (change)="onChangeEvent($event)">
            <option value="">Sélectionner une personne</option>
                <option value="{{learners.firstname}}" *ngFor="let learners of learnerMock; let i = index" (change)="onChangeIndex(i)">{{learners.firstname}}</option>
        </select>
        <button type="submit" (click)="onSubmit()">Ajouter</button>
    </form>
</section>
