<section>
  <div class="container">
    <div>
      <p>Liste des absents</p>
        <ul>
          <ng-container *ngFor="let absent of data.absents; let i = index">
            <li>
              <p>{{absent}}<button (click)="deleteAbsent(i)">X</button></p>
            </li>
          </ng-container>
        </ul>
    </div>
    <div>
      <p>Liste des absentes</p>
      <ul>
        <ng-container *ngFor="let absent of data.absents; let i = index">
          <li>
            <p>{{absent}}<button (click)="deleteAbsent(i)">X</button></p>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</section>
