<section>
  <div class="container">
    <div>
      <p>Liste des absents</p>
        <ul>
            <li *ngFor="let absent of data.absents; let i = index">
              <p>{{absent}}<button (click)="deleteAbsent(i)">X</button></p>
            </li>
        </ul>
    </div>
    <div>
      <p>Liste des absentes</p>
      <ul>
        <li *ngFor="let absent of data.absents; let i = index">
          <p>{{absent}}<button (click)="deleteAbsent(i)">X</button></p>
        </li>
      </ul>
    </div>
  </div>
</section>
